* {
    box-sizing: border-box;
}

.filter-title {
    font-size: 17px;
    color: palevioletred;
}

.container {
    margin-right: 60px;
    margin-top: 30px;
}

.row {
    padding-left: 60px;
    margin-right: 0px;
    padding-right: 0px;
}

hr {
    margin-top: 3px;
}

h3 {
    font-size: 15px;
    margin-top: 1.25rem;
}

.card {
    border-radius: 25px;
}

.form-check-label {
    font-size: 12px;
}

.sidebar {
    width: 20%;
    padding-top: 40px;
    padding-left: 0px;
    margin-left: 0px;
    float: left;
    border-radius: 25px;
}

.badge {
    color: grey;
}

.card-text-brand {
    font-size: 16px;
    color: palevioletred;
}

.card-text-title {
    font-size: 13px;
    margin-bottom: 1px;
}

.card-text-category {
    font-size: 12px;
    margin-top: 2px;
    color: grey;
}

.card-footer {
    font-size: 10px;
    margin-top: 0.25rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

