header{
    color: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: palevioletred;
}